.header-links:hover {
  background-color: rgb(14, 14, 14) !important;
  transition: all 0.2s ease;
  box-shadow: 2px 8px 16px 2px rgba(15, 15, 15, 0.75);
  -webkit-box-shadow: 2px 8px 16px 2px rgba(15, 15, 15, 0.75);
  -moz-box-shadow: 2px 8px 16px 2px rgba(15, 15, 15, 0.75);
}

.typewriter {
  position: relative;
  padding: 0;
  margin: 0;
  width: max-content;
}

.typewriter::before,
.typewriter::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: -10px;
}

.typewriter::before {
  background: #252525;
  animation-delay: 0.5s;
  animation: typewriter 2s ease-out forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
