.project-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-item:hover .project-links {
  opacity: 100;
}

.project-item:active .project-links {
  opacity: 100;
}

.project-filter > div:hover {
  background: #f1c21b;
  transition: all 0.3s ease;
}
