.skillsBar-animate {
  animation: skillProgress 2.5s ease-in forwards;
}

@keyframes skillProgress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.core-technical-skills,
.additional-skills {
  box-shadow: 2px 3px 13px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 3px 13px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 13px -1px rgba(0, 0, 0, 0.75);
}
